.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .profile-name {
    font-size: 36px;
    margin: 10px 0;
  }
  
  .profile-email {
    font-size: 24px;
    margin: 0;
  }
  
  .profile-form {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .form-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type='submit'] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .verify-email-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .email-verified-icon {
    color: green;
    margin-left: 20px;
    font-size: 30px;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
   
  }
  
.dark {
  background-color: #333333;
  color: #ffffff;
}